[defaults]
inventory=/home/admin/ansible/inventory
roles_path=/usr/share/ansible/roles:/home/admin/ansible/roles
vault_password_file=/home/admin/ansible/secret.txt
[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False


